@model Review

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">                   
            @Html.Partial("_ReviewCard", Model)            
        </div>
        <div class="col-lg-4">
            <div class="mb-3">
                @Html.Partial("_MovieCard", Model.Movie)
            </div>
            <div >
                @Html.Partial("_UserCard", Model.User)
            </div>
        </div>
    </div>
</div>


