@model RottenPotatoes.Models.Review



<div class="container mt-5">
    <div class="card shadow p-4 rounded-3 mx-auto" style="max-width: 600px;">
        <h2 class="mb-4 text-center">Create Review</h2>
        @Html.Partial("_ReviewForm", Model)
    </div>
</div>
