@model IEnumerable<RottenPotatoes.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <div class="card shadow p-4 rounded-3 mx-auto">
        <h2 class="mb-4 text-center">All Movies</h2>
        @Html.Partial("_MovieList", Model)
    </div>
</div>
